<!DOCTYPE html>
<html>
  <head>
    <title>My Todo Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 style= "font-size: 22px; padding: 5px; background-color: darkblue; color: white;"> The Todo Manager App</h1>
    <%= yield %>
    <hr>
    <p style = "font-size: 12px;"> TodoManager App (c) The Mahe Iram Khan Company </p>
  </body>
</html>
